<template>
  <a-modal
    title="ค้นหาอย่างละเอียด"
    :visible="visible"
    wrap-class-name="search__modal"
    centered
    :footer="null"
    @cancel="onClose"
    @ok="onClose"
  >
    <a-row>
      <a-col :md="{ span: 5 }">
        <div class="section">
          <search-menu
            :titles="menuTitles"
            :activated-menu="activatedMenu"
            @setActive="setActive"
          />
        </div>
      </a-col>
      <a-col :md="{ span: 19 }">
        <div class="section">
          <product-search
            v-if="activatedMenu === 'ผลผลิต'"
            :fruit-types="fruitTypes"
            :fruit-breeds="fruitBreeds"
            :fruit-type-id="searchData.fruitTypeId"
            :fruit-breed-id.sync="searchData.fruitBreedId"
            @changeFruitType="onChangeFruitType"
          />
          <farm-search
            v-else-if="activatedMenu === 'ฟาร์ม'"
            :provinces="provinces"
            :farm-standards="farmStandards"
            :province-id.sync="searchData.provinceId"
            :farm-standard-id.sync="searchData.farmStandardId"
            :num-tree.sync="searchData.numTree"
            :num-area.sync="searchData.numArea"
          />
          <auction-search
            v-else-if="activatedMenu === 'การประมูล'"
            :date-time-start.sync="searchData.dateTimeStart"
            :date-time-end.sync="searchData.dateTimeEnd"
            :price-start-min.sync="searchData.priceStartMin"
            :price-current-max.sync="searchData.priceCurrentMax"
          />
        </div>
      </a-col>
    </a-row>
    <a-row>
      <div class="footer-section">
        <a-button class="oa-button is-primary" @click="onSearch">
          ค้นหา
        </a-button>
      </div>
    </a-row>
  </a-modal>
</template>

<script>
import SearchMenu from './search-menu'
import ProductSearch from './product-search'
import FarmSearch from './farm-search'
import AuctionSearch from './auction-search'

export default {
  name: 'AdvanceSearch',
  components: {
    SearchMenu,
    ProductSearch,
    FarmSearch,
    AuctionSearch
  },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    hasProduct: {
      type: Boolean,
      default: false
    },
    hasFarm: {
      type: Boolean,
      default: false
    },
    hasAuction: {
      type: Boolean,
      default: false
    },
    searchData: Object,
    fruitTypes: Array,
    provinces: Array,
    farmStandards: Array,
    numTree: Number,
    numArea: Number
  },
  data () {
    return {
      activatedMenu: ''
    }
  },
  computed: {
    menuTitles () {
      const availableMenus = [
        this.hasProduct ? 'ผลผลิต' : null,
        this.hasFarm ? 'ฟาร์ม' : null,
        this.hasAuction ? 'การประมูล' : null
      ].filter(menu => !!menu)
      return availableMenus
    },
    fruitBreeds () {
      const fruitTypeCb = (fruitType1, fruitType2) => fruitType1 === fruitType2
      const findFruitType = this.fruitTypes.find(value => fruitTypeCb(value.id, this.searchData.fruitTypeId))
      return findFruitType ? findFruitType.fruitBreeds : []
    }
  },
  mounted () {
    this.activatedMenu = this.menuTitles[0]
  },
  methods: {
    setActive (menu) {
      this.activatedMenu = menu
    },
    onChangeFruitType (value) {
      this.$set(this.searchData, 'fruitTypeId', value)
      this.$set(this.searchData, 'fruitBreedId', this.fruitBreeds[0].id)
    },
    onSearch () {
      this.$emit('search', this.searchData)
      this.$emit('close')
    },
    onClose () {
      this.$emit('close')
    }
  }
}
</script>

<style lang="scss">
.search__modal {
  @media only screen and (max-width: 768px) {
    overflow: hidden;
  }
  .ant-modal {
    width: auto !important;
  }
  @media only screen and (min-width: 768px) {
    .ant-modal {
      width: 70% !important;
      height: 600px !important;
      .ant-modal-content {
        padding: 30px 40px;
        height: 100%;
        .ant-modal-body {
          height: 377px;
        }
      }
    }
  }
}

.section {
  padding: 0;
  @media only screen and (min-width: 768px) {
    height: 377px;
  }
}

.custom-button {
  background-color: #ffb300;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  color: white;
  margin-left: auto;
}

.custom-button:hover {
  box-shadow: inset 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.footer-section {
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width: 767px) {
    padding-top: 24px;
  }
}
</style>
